- unless @voted_ideas.empty?
  %h2 Ideat, joita olet äänestänyt
  
  %ul
    - @voted_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)

- unless @commented_ideas.empty?
  %h2 Ideat, joita olet kommentoinut
  
  %ul
    - @commented_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)