.returning
  - if not @error
    %h1 Tunnistaminen ei onnistunut

    Palaa 
    =link_to "takaisin aloitteeseen", @signature.idea
  - else
    .error
      %h1 Tunnistaminen epäonnistui
      Virhe
      = @error
      =link_to "takaisin aloitteeseen", @signature.idea
