= link_to article do
  .expert
    %img.avatar{ src: article.author.image, width: 48, height: 48 }
    %span.sans-serif.name= article.author.name
    %span.sans-serif= finnishTime(article.created_at)
    %span.sans-serif.title= shorten((article.title + "<br/>" + article.ingress), 100, 20, "»").html_safe
