List of the documents:
%br
- @idea.documents.each do |document|
  #document
    = file_extension_image(document.file)
    = link_to document.file_name, document.file.to_s
    = file_extension_actions(document.file)