This idea is supported by:
%br
- @idea.supported_by.each do |politician|
  .supported_politician
    %img.avatar{ src: politician.image, width: 48, height: 48 } 
    %span.name
      #{politician.name}