This idea is unsupported by:
%br
- @idea.unsupported_by.each do |politician|
  .unsupported_politician
    %img.avatar{ src: politician.image, width: 48, height: 48 } 
    %span.name
      #{politician.name}