.ideas_header.container_24
  %h1.grid_24 Ideat
.ideas.container_24
  - @ideas.each do |idea|
    .idea.container_24
      .info.grid_10
        %span.type
          Idea/
        %span.date
          = finnishDate(idea.updated_at)
        %h2= link_to idea.title, idea
      .content.grid_12
        = shortened_summary(idea.summary, 230, 200, "»")
      .grid_10 &nbsp;
      .grid_12.statistics
= will_paginate @ideas
