// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles_page {
  .author {
    font-weight: bold;
    color: #29abe2;
    text-transform: uppercase;
    a {
      font-weight: bold;
      color: $color-note;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
      &:link {
        text-decoration: none;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }

  .date {
    margin-left: 15px;
  }

  .info {
    @include span-columns(6,12);
    h2 a {
      color: black;
      text-decoration: none;
      text-transform: none;
    }
  }

  .content {
    @include span-columns(6 omega,12);
    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
      &:link {
        text-decoration: none;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }

  .blog {
    margin-bottom: 50px;
    @include legacy-pie-clearfix;
  }

  .idea-body blockquote {
    margin-left: 20px;
    font-size: 12px;
    background-color: #f2f2f2;
  }
}
