//Css for the home page

.container h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: $color-primary; 
}

.top-drafts {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:  10px solid $color-primary; 
}

.news, .newsletter {
  @include span-columns(4 omega, 12);
  padding: 5px;
  background: #eeeeee;
  border-top: 3px solid #000000;
}

.author a{
  font-weight: bold;
  color: #29abe2;
  text-transform: uppercase;
}

.author a:hover {
  text-decoration: underline;
}
.author a:link {
  text-decoration: none;
}
.author a:visited {
  text-decoration: none;
}

.news-item .datetime {
  margin-left: 15px;
}

.news .content {
  margin-bottom: 15px;
} 

.news .content a {
  color: $color-primary;
}
.news .content a:hover {
  text-decoration: underline;
}
.news .content a:link {
  text-decoration: none;
}
.news .content a:visited {
  text-decoration: none;
}


.all-blogs a {
  color: $color-note;
  font-weight: bold;
  font-size: 14px;
}
.all-blogs a:hover {
  text-decoration: underline;
}
.all-blogs a:link {
  text-decoration: none;
}
.all-blogs a:visited {
  text-decoration: none;
}


input#mce-EMAIL {
  margin: 10px 0px;
}
