#control_panel
  = link_to 'New message', new_conversation_path, :class => "new_message_link"
  %br
  %br
  = link_to "Inbox", conversations_inbox_path, :class => "inbox_link"
  %br
  = link_to "Sentbox", conversations_sentbox_path, :class => "sentbox_link"
  %br
  = link_to "Trash", conversations_trash_path, :class => "trash_link"