!!! 5
/[if lt IE 9] <html class="ie">
/[if gte IE 9] <html>
%head
  %meta{ charset: 'utf-8' }
  %meta{ content: 'IE=edge,chrome=1', http_equiv: 'X-UA-Compatible' }
  %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
  %meta{ content: asset_path('avoinministerio.png'), property: 'og:image' }
  %meta{ content: 'Avoin ministeriö', property: 'og:site_name' }

  %title Avoin Ministeriö - sivua ei löydy (404)
  %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon' }
  = stylesheet_link_tag 'application.css', media: 'screen'

%body
  %header.container_24.top_row_container
    .container_24.top_row
  %header.container_24
    %a#logo.grid_12{ href: '/' }
      %img{ alt: 'Logo', src: asset_path('logo.png') }

  .container.container_24
    .idea.grid_24
      .body
        %h1 Etsimääsi sivua ei löydy.
        %p Osoitteessa voi olla kirjoitusvirhe tai sivua ei enää ole.
        %a{ href: '/' } Siirry Avoimen ministeriön etusivulle.
