- content_for :title do
  Avoin Ministeriö - sivua ei löydy (404)

%h1 Etsimääsi sivua ei löydy.
%p Osoitteessa voi olla kirjoitusvirhe tai sivua ei enää ole.
%a{ href: '/' } Siirry Avoimen ministeriön etusivulle.
