- content_for :title do
  Avoin Ministeriö - pyyntösi hylättiin (422)

%h1 Pyyntösi hylättiin.
%p Mahdollisesti syynä ovat puuttelliset oikeutesi.
%p
%a{ href: 'javascript: history.go(-1)' } Siirry edelliselle sivulle
tai
%a{ href: '/' } Avoimen ministeriön etusivulle
\.
