- content_for :title do
  Avoin Ministeriö - sivua ei voida näyttää (500)

%h1 Sivua ei voida näyttää.
%p Valitettavasti palvelussa tapahtui odottamaton virhe, yritä myöhemmin uudelleen.
%a{ href: '/' } Siirry Avoimen ministeriön etusivulle.
