%meta{ property: "fb:app_id", content: (ENV["FACEBOOK_APP_ID"] || "335755509797497") }
%meta{ property: "og:url", content: 'https://www.avoinministerio.fi' }
%meta{ property: "og:title", content: 'Avoin Ministeriö -- Kansalaisaloitteet' }
%meta{ property: "og:description", content: 'Kansalaisaloitelaki astui voimaan 1.3.2012. Avoin ministeriö on web-palvelu kansalaisille jonka avulla ideoita voi ehdottaa, ja niiden seulontaan ja valmisteluun voi osallistua aktiivisesti.' }
%meta{ property: "og:type", content: "article" }
%meta{ property: "og:image", content: "#{request.protocol}#{request.host}/assets/avoinministerio.png" }
%meta{ property: "og:site_name", content: "Avoin ministeriö" }
