.headline
  %hgroup.headline-title
    %h1= @headline_1[rand(@headline_1.size)]
    %h2= @headline_2[rand(@headline_2.size)]
  .actions.idea-detail-actions.fl-right
    = link_to "Listaa kaikki", ideas_path, class: "btn btn-big"
    %a.btn.btn-big{href: "/artikkelit/miten-palvelu-toimii"} Lisätietoa
