.container_24.headline
  %hgroup.grid_18
    %h1= @headline_1[rand(@headline_1.size)]
    %h2= @headline_2[rand(@headline_2.size)]
  .actions.grid_6
    = link_to "Listaa kaikki", ideas_path, class: "button"
    %a.button{href: "/artikkelit/miten-palvelu-toimii"} Lisätietoa
