.container_24.headline
  %hgroup.grid_18
    %h1= PagesController.headlines1[rand(PagesController.headlines1.size)]
    %h2= PagesController.headlines2[rand(PagesController.headlines2.size)]
  .actions.grid_6
    = link_to "Listaa kaikki", ideas_path, class: "button"
    %a.button{href: "/artikkelit/20-usein-kysyttyja-kysymyksia"} Usein kysyttyä
