.container_24.top_drafts
  %h2 Lakiluonnokset
  .grid_8.alpha
    .title Viisumivapautta Venäjältä on tiukennettava >>
    .poll Poll 80% 20%
  .grid_8
    .title Suomalaisten on saatava lisää vapaapäiviä >>
    .poll Poll 80% 20%
  .grid_8.omega
    .title Kaikille pitää antaa ilmainen auto >>
    .poll Poll 80% 20%

.grid_16.top_ideas.alpha
  %h2 Ajankohtaiset aloitteet
  
  .idea
    .author Tero Jokilehto timestamp
    .title Kissa- ja koiravero poistettava
    .poll 80% 20% Kommentit Lausunnot?

  .idea
    .author Kaarina Kissanomistaja timestamp
    .title Kissa- ja koiravero poistettava
    .poll 80% 20% Kommentit Lausunnot?
    
  .idea
    .author Tero Jokilehto timestamp
    .title Kissa- ja koiravero poistettava
    .poll 80% 20% Kommentit Lausunnot?

.grid_8.news.omega
  %h2 Ministeriössä tapahtuu
  
  .news_item
    .video Video
    .title Video 6.2.2012
    .content Sauli Niinistä vs.Avoin yliopisto >>
   
  .news_item
    .title Tero Jokilehto 4.2.2012
    .content Avoimen ministeriön nopea ja kivuon startti >>
    
  .news_item
    .title Tero Jokilehto 2.2.2012
    .content Tähän ei jäädä - katso Avoimen ministeriön roadmap >>