%br
%h1.whats-new-title What's New?

.ideas-container
  = render :partial => 'new_elements', :collection => @ideas, :as => :idea

#loading-more-ideas
  %div{:class => 'hide'}
    = will_paginate @versions
  .wait
    = image_tag "wait.gif", :alt => "Please wait.."
    %br
    Please wait... while we are fetching more ideas.
