del.differ {
  text-decoration: none;
  background: #ffcccc;
}
ins.differ {
  text-decoration: none;
  background: #ccffcc;
}

table.changelogs {
  tr > td { vertical-align: top; padding: 3px; }
  tr.changelog {
    border-bottom: 1px solid #ddd;
    td.changer > img { line-height: 18px; vertical-align: middle; }
    td.changer > span.name { line-height: 18px; }
    td.changes {
      vertical-align: top;
      table {
        width: 100%;
        tr { border-bottom: 1px solid #ddd; }
        tr > td.field { width: 80px; }
        tr > td { padding: 3px; }
      }
    }
  }
  tr.changelog:hover {
    background: #fafafa;
  }
  tr.odd { background: #fff; }
  tr.even { background: #eee; }
}

span.admin {
  color: #aa4444;
  font-size: 11px;
  font-weight: bolder;
}
