---
http_interactions:
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives?limit=5&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/33","modified":"2012-12-12T12:41:01+02:00","state":"ACCEPTED","stateDate":"2012-12-12T12:41:01+02:00","acceptanceIdentifier":"OM
        17/52/2012","supportCount":1285,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Kotihoidontukea
        korotettava","sv":null},"startDate":"2012-12-12","endDate":"2013-06-12","proposalType":"PREPARATION","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":false,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"totalSupportCount":1285},{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/32","modified":"2012-12-14T11:29:54+02:00","state":"ACCEPTED","stateDate":"2012-12-14T11:29:54+02:00","acceptanceIdentifier":"OM
        18/52/2012","supportCount":70,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Lastensuojelukerroin
        on lakkautettava","sv":null},"startDate":"2012-12-13","endDate":"2013-06-13","proposalType":"LAW","primaryLanguage":"fi","financialSupport":[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/33","modified":"2012-12-12T12:41:01+02:00","state":"ACCEPTED","stateDate":"2012-12-12T12:41:01+02:00","acceptanceIdentifier":"OM
        17/52/2012","supportCount":1285,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Kotihoidontukea
        korotettava","sv":null},"startDate":"2012-12-12","endDate":"2013-06-12","proposalType":"PREPARATION","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":false,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"links":[{"uri":"http://www.facebook.com/kotihoidontukeakorotettava","label":"Facebook:"},{"uri":"http://www.adressit.com/kotihoidontuki","label":"Adressit:"}],"proposal":{"fi":"Kotihoidontuki
        on tällä hetkellä 327,46€/kk, alle 3-vuotiaista sisaruksista kustakin 98,04€/kk
        ja yli 3-vuotiaista, alle kouluikäisistä sisaruksista 63€/kk kustakin. Hoitolisä
        (pienituloisille) on enintään 175,24€/kk.\r\n\r\nPeruspäiväraha on 675€/kk
        (21,5pvää x 31,36€), lapsikorotukset työttömille ovat yhdestä lapsesta 108,79€/kk,
        kahdesta lapsesta 159,74€/kk ja kolmesta tai sitä useammasta lapsesta 205,97€/kk.
        Työttömällä otetaan huomioon alle 18-vuotiaat lapset.\r\n\r\nEro näiden tukien
        välissä on 346,54€/kk (korotuksia ei ole huomioitu)\r\n\r\nKelan minimit (kotihoidontuki,
        äitiyspäiväraha, peruspäiväraha) tulisivat yhtenäistää, minimit näissä tuissa
        tulisivat olla saman suuruiset.","sv":null},"rationale":{"fi":"Meidän pitäisi
        nykysuomessa suoda kaikille samat edut. Tässä tapauksessa se ei toteudu.\r\n\r\nTyöttömällä
        on paremmat tuet, heillä on oikeus viedä lapset hoitoon ja heillä otetaan
        huomioon kaikki alle 18-vuotiaat lapset.\r\nOtettava huomioon:\r\n- Kotihoidontuen
        perusosa korotetaan rahallisesti saman suuruiseksi kuin peruspäiväraha.\r\n-
        Työttömien määrä vähenee huomattavasti, koska alle 3-vuotiaan vanhempi saa
        saman rahan myös kotihoidontu[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/32","modified":"2012-12-14T11:29:54+02:00","state":"ACCEPTED","stateDate":"2012-12-14T11:29:54+02:00","acceptanceIdentifier":"OM
        18/52/2012","supportCount":70,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Lastensuojelukerroin
        on lakkautettava","sv":null},"startDate":"2012-12-13","endDate":"2013-06-13","proposalType":"LAW","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":true,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"links":[{"uri":"http://www.finlex.fi/fi/laki/alkup/2009/20091704","label":"Laki
        kunnan peruspalvelujen valtionosuudesta"},{"uri":"http://www.sosiaaliportti.fi/fi-fi/lastensuojelunkasikirja/tuke/lastensuojeluntilastoa","label":"Sosiaaliportti
        - Lastensuojelun tilastotietoa (THL)"},{"uri":"http://www.helsinginuutiset.fi/artikkeli/114782-valtion-tukea-arvostellaan-kannustaa-huostaanottoihin","label":"Helsingin
        uutiset: Valtion tukea arvostellaan: kannustaa huostaanottoihin"},{"uri":"http://www.taloussanomat.fi/ihmiset/2012/06/16/lapsibisnesta-ei-valvo-kukaan/201231577/137","label":"Taloussanomien
        artikkeli lastensuojelun bisneksestä"},{"uri":"http://suomenkuvalehti.fi/jutut/kotimaa/hukassa-huostassa","label":"Suomen
        Kuvalehden artikkeli lastensuojelun epäkohdista"}],"proposal":{"fi":"Laista
        kunnan peruspalvelujen valtionosuudesta poistetaan lainkohta 18 § (4. luku,
        lastensuojel[...]
[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives?limit=5&offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/2","modified":"2012-12-10T21:04:57+02:00","state":"ACCEPTED","stateDate":"2012-12-03T11:55:25+02:00","acceptanceIdentifier":"OM
        5/52/2012","supportCount":216,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Huostaanotettujen
        oikeudet inhimilliseen elämään","sv":null},"startDate":"2012-12-01","endDate":"2013-06-01","proposalType":"PREPARATION","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":true,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"totalSupportCount":216}]'
  recorded_at: Wed, 19 Dec 2012 12:29:10 GMT
[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives?limit=5&offset=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Thu, 20 Dec 2012 13:42:47 GMT
recorded_with: VCR 2.3.0
