---
http_interactions:
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/1","modified":"2012-12-01T11:53:02+02:00","state":"REVIEW","stateDate":"2012-12-01T11:53:02+02:00","acceptanceIdentifier":null,"supportCount":0,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"(Esimerkkialoite)
        Kansalaisaloite kansalaisaloitepäivästä ja sen viettämisestä yleisenä juhla-
        ja vapaapäivänä","sv":null},"startDate":"2012-12-01","endDate":"2013-06-01","proposalType":"LAW","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":false,"supportStatementsInWeb":true,"supportStatementsRemoved":null,"links":[],"proposal":{"fi":"Esimerkkialoite\r\n\r\nEhdotus
        uudeksi lakitekstiksi:\r\n\r\nLaki\r\n\r\nkansalaisaloitepäivästä ja sen viettämisestä
        yleisenä juhla- ja vapaapäivänä\r\nEduskunnan päätöksen mukaisesti säädetään:\r\n\r\n1
        §\r\n\r\nSuomen kansalaisaloitteen voimaantulon muistoksi on maaliskuun ensimmäistä
        päivää, jota tässä laissa sanotaan kansalaisaloitepäiväksi, vuosittain vietettävä
        yleisenä juhla- ja vapaapäivänä.\r\nKansalaisaloitepäiväksi lasketaan vuorokausi,
        joka alkaa kello kahdestakymmenestäneljästä sanotun päivän vastaisena yönä.\r\n\r\n-
        - - - - - - - - - - - - - - - - - -\r\n2 §\r\n\r\nKansalaisaloitepäivän sattuessa
        arkipäiväksi on työntekijälle, jonka työ on senlaatuista, että hän sunnuntaisin
        on vapaana työstä annettava arkipäiväksikin sattuva kansalaisaloitepäivä vapaapäiväksi\r\n\r\n3
        §\r\nMilloin työntekijälle sunnuntaina suoritetusta työstä lain mukaan on
        maksettava korotettu palkka, on samojen perusteiden mukainen palkka maksettava
        hänelle myös arkipäiväksi sattuvana kansalaisaloitepäivänä tehdystä työstä.\r\n\r\n4
        §\r\nTyönantaja, joka kieltäytyy antamasta työntekijälle kansalaisaloitepäivää
        vapaapäiväksi, niinkuin tässä laissa säädetään, rangaistakoon sakolla.\r\n\r\n_______________\r\n\r\n\r\n\r\nTämä
        laki tulee voimaan    päivänä       kuuta 20  .","sv":null},"rationale":{"fi":"Kansalaisaloite
        on kansalaisyhteiskuntaa yhdistävä tekijä. Kansalaisaloitteen tarkoituksena
        on edistää ja tukea vapaata kansalaistoimintaa sekä siten vahvistaa kansalaisyhteiskuntaa,
        jossa eri väestöryhmät osallistuvat ja vaikuttavat aktiivisesti yhteiskunnan
        kehittämiseen.  Kansalaisaloitteen voimaantulemisen päivää (1.3.2012) voitaisiinkin
        alkaa viettää kansalaisaloitteenpäivänä. Kansalaisaloite päivä olisi eräänlainen
        suoran demokratian juhlapäivä. Kansalaisaloitepäivän viettäminen juhlapäivänä
        korostaisi kansalaisaloitteen tärkeyttä ja merkityksellisyyttä kansalaisten
        vaikuttamisenvälineenä.\r\n\r\nKansalaisaloitepäivä olisi myös koko kansan
        yhteinen juhlapäivä. Kansalaisaloite on jokaisen Suomen kansalaisen oikeus
        ja koskettaisi näin jokaista.","sv":null},"initiators":[{"firstNames":"Tero
        Tuomas","lastName":"Jokinen","homeMunicipality":{"fi":"Helsinki","sv":"Helsingfors"}}],"representatives":[{"firstNames":"Tero
        Tuomas","lastName":"Jokinen","homeMunicipality":{"fi":"Helsinki","sv":"Helsingfors"},"contactInfo":{"email":"tuomas
        jokinen  solita fi","phone":null,"address":null}}],"reserves":[{"firstNames":"Iiro
        Aleksi","lastName":"Uusitalo","homeMunicipality":{"fi":"Sastamala","sv":"Sastamala"},"contactInfo":{"email":"iiro
        uusitalo  solita fi","phone":null,"address":null}}],"totalSupportCount":0}'
  recorded_at: Wed, 19 Dec 2012 17:30:15 GMT
[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/2","modified":"2012-12-10T21:04:57+02:00","state":"ACCEPTED","stateDate":"2012-12-03T11:55:25+02:00","acceptanceIdentifier":"OM
        5/52/2012","supportCount":216,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Huostaanotettujen
        oikeudet inhimilliseen elämään","sv":null},"startDate":"2012-12-01","endDate":"2013-06-01","proposalType":"PREPARATION","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":true,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"links":[{"uri":"http://huosta-aloite.blogspot.fi","label":"Aloitteen
        kotisivu"},{"uri":"http://www.taloussanomat.fi/ihmiset/2012/06/16/lapsibisnesta-ei-valvo-kukaan/201231577/137","label":"Taloussanomien
        artikkeli lastensuojelun bisneksestä"},{"uri":"http://www.helsinginuutiset.fi/artikkeli/114782-valtion-tukea-arvostellaan-kannustaa-huostaanottoihin","label":"Helsingin
        uutiset: Valtion tukea arvostellaan: kannustaa huostaanottoihin"},{"uri":"http://suomenkuvalehti.fi/jutut/kotimaa/hukassa-huostassa","label":"Suomen
        Kuvalehden artikkeli lastensuojelun epäkohdista"}],"proposal":{"fi":"Seuraavat
        asiat pitäisi taata lailla:\r\n- Lastensuojelukertoimelle katto eli kunta
        ei saa valtiolta huostaanotoista yhtään sen enempää takaisin rahaa kuin huostaanotto
        maksaa.\r\n- Sosiaalityöntekijöiden tulospalkkaus huostaanottojen ja lastensuojeluilmoitu[...]
[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - fi
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "\n<!DOCTYPE HTML>\n<html lang=\"fi\">\n<head>\n    <title>Sivua ei
        l&ouml;ydy tai sinulla ei ole k&auml;ytt&ouml;oikeutta sivuun - Kansalaisaloitepalvelu</title>
        \n    \n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/>\n
        \   \n    <link href=\"https://www.kansalaisaloite.fi/favicon.ico\" rel=\"shortcut
        icon\" type=\"image/vnd.microsoft.icon\" />\n   \n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"https://www.kansalaisaloite.fi/css/normalize.css\"
        />\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.kansalaisaloite.fi/css/aloitepalvelu.css\"
        />\n</head>\n<body>\n<div id=\"wrapper\">\n\n    <div id=\"header-tools\">\n
        \       <div id=\"header-tools-content\">\n            <div id=\"aloite-links\">\n
        \               <a class=\"active\" href=\"https://www.kansalaisaloite.fi/fi\">Kansalaisaloite.fi</a><span
        class=\"hide\"> | </span><a href=\"https://www.kansalaisaloite.fi/fi/tietoa/tietoa-kuntalaisaloite_fi-palvelusta\">Kuntalaisaloite.fi</a>\n
        \           </div>\n        </div>\n    </div>\n    \n    <div id=\"header\">\n
        \       <div id=\"header-content\">\n            <a id=\"logo\" href=\"https://www.kansalaisaloite.fi/fi\"
        accesskey=\"1\" title=\"Kansalaisaloitepalvelu\">\n                <span>Kansalaisaloitepalvelu</span>\n
        \           </a>        \n        </div>\n    </div>\n\n    <div class=\"container\">\n
        \       <div id=\"content\">\n\n    <h1>Sivua ei l&ouml;ydy tai sinulla ei
        ole k&auml;ytt&ouml;oikeutta sivuun</h1>\n    <!-- Error: 404 - Not Found
        -->\n    <p>Ole hyvä ja tarkista osoite tai siirry palvelun <a href=\"https://www.kansalaisaloite.fi/fi\">etusivulle</a>.</p>\n
        \n        </div>\n    </div>\n    \n    <div id=\"footer\">\n        <div
        class=\"container\">\n            <div class=\"block oikeusministerio\">\n
        \               <p>\n                    Kansalaisaloite.fi on oikeusministeri&ouml;n
        yll&auml;pit&auml;m&auml; ja tuottama verkkopalvelu.<br/>\n                    <a
        href=\"https://www.kansalaisaloite.fi/fi/tietoa/tietoa-kansalaisaloite_fi-palvelusta\">Lue
        lis&auml;&auml; &rarr;</a>\n                </p>\n            </div>\n            <div
        class=\"block viestintavirasto\">\n                <p>\n                    Kansalaisaloite.fi
        on Viestintäviraston hyväksymä palvelu.<br/>\n                    <a href=\"https://www.kansalaisaloite.fi/fi/tietoa/viestintaviraston-hyvaksynta\">Lue
        lis&auml;&auml; &rarr;</a>\n                </p>\n            </div>\n            <div
        class=\"footer-links\">\n                <ul>\n                    <li><span
        class=\"icon-small arrow-right-2\"></span> <a href=\"https://www.kansalaisaloite.fi/fi/tietoa/ota-yhteytta\">Ota
        yhteytt&auml;</a></li>\n                    <li><span class=\"icon-small arrow-right-2\"></span>
        <a href=\"https://www.kansalaisaloite.fi/fi/tietoa/henkilorekisteriselosteet\">Henkil&ouml;rekisteriselosteet</a></li>\n
        \                   <li><span class=\"icon-small arrow-right-2\"></span> <a
        href=\"https://www.kansalaisaloite.fi/fi/tietoa/kehittajille\">Kehitt&auml;jille</a></li>\n
        \                   <li><span class=\"icon-small arrow-right-2\"></span> <a
        href=\"https://www.kansalaisaloite.fi/fi/tietoa/briefly-in-english\">Briefly
        in English</a></li>\n                </ul>\n            </div>\n            <br
        class=\"clear\"/>\n        </div>\n        \n        <a href=\"#header-tools\"
        accesskey=\"3\" id=\"back-to-top\">Sivun alkuun</a>\n    </div>\n\n</div>\n</body>\n</html>\n"
  recorded_at: Wed, 19 Dec 2012 17:30:24 GMT
[...]
- request:
    method: get
    uri: https://www.kansalaisaloite.fi/api/v1/initiatives/19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":"https://www.kansalaisaloite.fi/api/v1/initiatives/19","modified":"2012-12-10T14:07:09+02:00","state":"PROPOSAL","stateDate":"2012-12-10T12:43:38+02:00","acceptanceIdentifier":null,"supportCount":0,"sentSupportCount":0,"externalSupportCount":0,"verifiedSupportCount":0,"verified":null,"name":{"fi":"Kansalaisaloite
        ruotsinkielen opiskelun muuttamisesta vapaaehtoiseksi","sv":null},"startDate":"2012-12-05","endDate":"2013-06-05","proposalType":"LAW","primaryLanguage":"fi","financialSupport":false,"financialSupportURL":null,"supportStatementsOnPaper":false,"supportStatementsInWeb":false,"supportStatementsRemoved":null,"links":[],"proposal":{"fi":"Lakiehdotus
        ruotsinkielen opiskelun muuttamisesta pakollisesta vapaaehtoiseksi kaikilla
        koulutusasteilla sekä muutos valtion virkamiehiltä vaadittavaan kielitaitoon.\r\n\r\nEsitetyt
        muutokset:\r\n\r\n14.11.2002/955\r\nValtioneuvoston asetus lukiokoulutuksen
        yleisistä valtakunnallisista tavoitteista ja tuntijaosta\r\n9 §\r\nAikuisille
        annettavan opetuksen tuntijako\r\nOpiskelijan tulee opiskella vähintään yhtä
        kieltä A-oppimäärän tavoitteiden mukaisesti. *Joko A-kielen tai B1-kielen
        tulee olla suomenkielisillä englanti ja ruotsinkielisillä suomi*\r\n\r\nOpiskelijalle
        tulee varata mahdollisuus opiskella valinnaisena aineena yhtä tai useampaa
    [...]
[...]
