<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Olet saanut yksityisviestin Avoimessa ministeriössä</h2> 
    <h1><%= @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject) %></h1>
    <p>
      <%= raw @message.body %>
    </p>

    <hr/>
    <p>
      Voit vastata viestiin <%= link_to root_url,root_url %> ja katsomalla tulevan postin kansion (kirjautumisen jälkeen oikeassa ylänurkassa nimesi vieressä olevat puhekuplat).
    </p>
  </body>
</html>