/*= @group Layout
---------------------------------------------------------------------- */

  /*= @group Layout Helpers
  ---------------------------------------------------------------------- */


  .elastic-960-container { @include container; }

  /*= @group Layout Helpers
  ---------------------------------------------------------------------- */

  body {
    color: $color-text;
    background-color: $color-background;
  }

  .page {
    @include container;
    position: relative;

    @include at-breakpoint($breakpoint-narrow) {
      @include container;
    }
  }

  [role="main"] {
    @include trailer(1);
    @include at-breakpoint($breakpoint-narrow) {
      @include trailer(2);
    }
  }

  /*= @group Banner
  ---------------------------------------------------------------------- */

  [role="banner"] {
  }

    /*= @group Branding
    ---------------------------------------------------------------------- */

    .branding {
      @extend .l-constrained;
      margin-top: rs($base-lh);

      .branding-logo {
        margin: 0;
      }
      .branding-tagline {
        color: $color-note;
        font-size: rs(21);
      }
    }

  /*= @group Main
  ---------------------------------------------------------------------- */

  [role="main"] {

  }

  /*= @group Contentinfo
  ---------------------------------------------------------------------- */

  [role="contentinfo"] {
    font-size: rs(14,$base-fs);
    margin-top: rs($base-lh);
  }
