/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory . 
*/
$turquoise: #29abe2;
$violet: #473161;

body > header {
  height: 150px;
}

body > header.top_row_container {
  height: 0;
  z-index: -1;
  border: 0 none;
}

body > header, body > header.top_row_container > .container_24, .ideas_header.container_24 {
  border-width: 6px;
  -moz-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -webkit-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -o-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

header .login_actions a, header .idea_actions a {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}
header > .login_actions > div {
  float: right;
  line-height: 25px;
  text-align: right;
}

body > header > .top_row {
  height: 35px;
  margin-top: 15px;
}

body > header > .top_row > a {
  margin-top: 20px;
}

body > header > .bottom_row {
  height: 60px;
  margin-top: 40px;
}

#footer_container {
  width: 100%;
  background-color: #eff3f3;
  height: 45px;
  padding-top: 25px;
  border-top: 10px #e5ebeb solid;
  margin-top: 25px;
}

footer > a {
  color: $turquoise;
}

footer > a:hover {
  text-decoration: underline;
}
footer > a:link {
  text-decoration: none;
}
footer > a:visited {
  text-decoration: none;
}


.inputs > .input > input {
  width: 100%;
}

.input {
  margin-bottom: 1em;
}

.input > label, .input > input {
  display: block;
}

.input.checkbox > label,
.input.checkbox > input,
.input.boolean > label,
.input.boolean > input {
  display: inline;
}

.input > input[type=email],
.input > input[type=text],
.input > input[type=password],
.input > input[type=url] {
  border: 2px #e6e6e6 solid;
}

.actions > input[type=submit] {
  float: right;
}

input[type=submit], a.button {
  border: none;
  padding: 0.8em 2em;
}

a.button {
  color: $violet;
  background-color: #fff;
}

.headline {
  background-color: $violet;
  margin-top: 0.2em;
  height: 200px;

  hgroup, .actions {
    margin: 80px 0 0;
  }
  
  hgroup {
    h1, h2 {
      color: #fff;
      margin: 0 0 0 20px;
      padding: 0;
    }
  }
  
  .actions > a.button {
    float: right;
    width: 120px;
    text-align: center;
    margin: 0 20px 20px 0;
    display: block;
  }
}

input[type=submit] {
  background-color: $violet;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.top_drafts h2 {
  margin-bottom: 0;
}

.top_drafts .popular {
  margin: 10px 7px 0 0;
  height: 160px;
  border-width: 3px;
  -moz-border-image:url("/assets/border-dotted-vertical.png") 0 3 0 0 repeat;
  -webkit-border-image:url("/assets/border-dotted-vertical.png") 0 3 0 0 repeat;
  -o-border-image:url("/assets/border-dotted-vertical.png") 0 3 0 0 repeat;
  border-image:url("/assets/border-dotted-vertical.png") 0 3 0 0 repeat;
  border-top: 0 none;
  border-left: 0 none;
  border-bottom: 0 none;
  padding-right: 7px;
}

.top_drafts .omega > div.popular {
  border: none;
  padding-right: 0;
}

.top_drafts div.popular > h3 {
  height: 120px;
}

.top_drafts div.popular > h3 > a {
  color: #000;
}

.top_ideas, .news {
  margin-top:40px;
}

.top_ideas > a.list_ideas {
  margin-top: 10px;
  margin-right: 20px;
  float: right;
  color: $turquoise;
}

.ideas_header {
  height: 100px;
  position: relative;

  h1 {
    bottom: 0;
    position: absolute;
    margin: 0;

  }
}

.ideas > .idea {
  height: 180px;
  margin-top: 20px;
}

.ideas > .idea > .info, .ideas > .idea > .content {
  height: 160px;
  overflow: hidden;
}

.top_ideas > .idea {
  height: 180px;
}

.idea {
  h1 {
    margin-top: 20px;
  }

  .author > .name {
    color: $turquoise;
  }
}

.ideas, .top_ideas {
  .idea {
    border-width: 2px;
    -moz-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    -webkit-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    -o-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;

    .info {
      .type, .date {
        color: #b3b3b3;
      }
      h3, h2 {
        a {
          color: #000;
        }
      }
    }

    .statistics {
      .total {
        color: #404040;
      }

      .for {
        color: #8CC63F;
      }

      .against {
        color: #A9003F;
      }

      .comments {
        min-width: 38px;
        min-height: 28px;
        padding-left: 20px;
        background-image:url('/assets/kommentit.png') no-repeat;
        background-position: -1 1.5em;
        a {
          color: $turquoise;
        }
        a:hover {
          text-decoration: underline;
        }
        a:link {
          text-decoration: none;
        }
        a:visited {
          text-decoration: none;
        }
      }
    }
  }
}

#new_comment textarea {
  width: 100%;
  height: 120px;
}

#new_comment textarea.disabled {
  width: 100%;
  height: 120px;
  background-color: #eee;
}

.expert_opinions a, .expert_opinions a:visited {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

