/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

@charset "utf-8";

// SCSS Toolkit by David Rapson
// A starter toolkit for SCSS projects
//
// The toolkit uses a combination of recommendations from Adaptive Web Design, http://easy-readers.net/
// and Scalable and Modular Architecture for CSS (SMACSS) http://smacss.com/book

//TODO Move to SUSY grid
@import "960_24_col.css";


// Compass Plugins
// ===============

// Optional, if you are using Compass
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "susy";

// Sass Features
// =============

@import "variables";
@import "functions/all";
@import "mixins/all";

// The Styles
// ==========
// Styles are defined in the following order & groupings:
// Base, Layout, Module, State

// Base styles (reset + elements)
@import "common/base";

// Layout
// ======
// - Layout = major components, e.g., header, footer etc.
// - Module = minor components, e.g., navigation bar, callout, widgets etc.
// - State  = a state is something that augments + overrides all other styles, e.g., success or error state

@import "components/layout";
@import "components/module";
@import "components/state";

// Helpers should come last out of screen styles
//@import "common/helpers";

// Specific pages
//= require_tree ./pages
@import "pages/pages.css.scss";
@import "pages/ideas/ideas.css.scss";

//TODO Figure out where it used
@import "scaffolds.css.scss";
@import "search.css.scss";

// Print styles
@import "print";


.fl-left {
  @include float-left;
}
.fl-right {
  @include float-right;
}

.clearfix {
  @include legacy-pie-clearfix;
}

.actions {
  @include inline-block;
  @include box-sizing(border-box);
}

header {
  height: 150px;
}

.top-row {
  height: 45px;
}

.border-double-dotted {
  background: {
    image: url("/assets/border-double-dotted.png");
    position: center bottom;
    repeat: repeat-x;
  }
}

.border-single-dotted {
  background: {
    image: url("/assets/border-dotted-horizontal.png");
    position: center bottom;
    repeat: repeat-x;
  }
}

.login-actions, .idea-actions {
  @include clearfix;
  margin: 0;
  .actions-item {
    @include float-left;
    list-style: none;
    a {
      font-weight: $font-weight-bold;
      color: $color-note;
    }
  }
}
.login-actions {
  font-size: $small-font-size;
  line-height: 45px;
}
.idea-actions {
  font-size: $medium-font-size;
  margin-top: 40px;
}

//TODO Do not sure this is the best solution
.btn-facebook {
  @include inline-block;
  background: {
    image: url("/assets/btn-facebook.png");
    repeat: no-repeat;
    position: left center;
  }
  .btn-facebook-inner {
    @include inline-block;
    margin-left: 20px;
    background: {
      image: url("/assets/btn-facebook.png");
      position: right center;
      repeat: no-repeat;
    }
    a {
      color: white;
      padding: 0 10px;
    }
  }
}

.headline {
  background-color: $color-primary;
  margin-top: 0.2em;
  height: 200px;
  padding-top: 80px;
  @include box-sizing(border-box);

  .headline-title {
    @include span-columns(8, 12);
    padding-left: 27px;
    h1, h2 {
      color: white;
      margin: 0;
      padding: 0;
    }
  }
}

.idea-detail-actions {
  margin-right: 27px;
}

.title {
  color: $color-primary;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 4px;
  font: {
    size: 18px;
    weight: $font-weight-normal;
  }
}

.top-drafts {
  @include legacy-pie-clearfix;
  border-bottom: 10px solid $color-primary;
  padding: 10px 0;
  .popular {
    @include span-columns(4, 12);
    margin: 10px 7px 0 0;
    height: 160px;
    background: {
      image: url("/assets/border-dotted-vertical.png");
      position: right center;
      repeat: repeat-y;
    }
    &.last {
      @include omega;
      background: none;
    }
    .popular-title {
      height: 120px;
      margin: 0;
      font: {
        family: $font-family-serif;
        size: $large-font-size;
      }
    }
  }
}

.top-ideas, .news {
  margin-top: 55px;
}

.top-ideas {
  @include span-columns(8,12);
  margin-right: 0; //TODO seems it's ugly hack
  .list-ideas {
    margin-top: 10px;
    margin-right: 20px;
    color: $color-note;
  }
}

.ideas-header {
  height: 100px;
  position: relative;
  h1 {
    bottom: 0;
    position: absolute;
    margin: 0;
  }
}

.ideas > .idea > .info, .ideas > .idea > .content {
  height: 160px;
  overflow: hidden;
}

.top-ideas > .idea {
  height: 180px;
}

.idea {
  h1 {
    margin-top: 20px;
  }
}

.footer-wrapper {
  width: 100%;
  background-color: #eff3f3;
  height: 45px;
  padding-top: 25px;
  border-top: 10px #e5ebeb solid;
  margin-top: 25px;
}

a {
  &.footer-item {
    @include span-columns(3, 12);
    color: $color-note;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
    &:nth-child(4n) {
      @include omega;
    }
  }
}




.author > .name {
  color: $color-note;
}

.ideas, .top-ideas {
  .idea {
    .info {
      .type, .date {
        color: #b3b3b3;
      }
      h3, h2 {
        a {
          color: #000;
        }
      }
    }
    .statistics {
      .total {
        color: #404040;
      }

      .for {
        color: #8CC63F;
      }

      .against {
        color: #A9003F;
      }

      .comments {
        min-width: 38px;
        min-height: 28px;
        padding-left: 20px;
        background-image:url('/assets/kommentit.png') no-repeat;
        background-position: -1px 1.5em;
        a {
          color: $color-note;
        }
        a:hover {
          text-decoration: underline;
        }
        a:link {
          text-decoration: none;
        }
        a:visited {
          text-decoration: none;
        }
      }
    }
  }
}

#new_comment textarea {
  width: 100%;
  height: 120px;
}

#new_comment textarea.disabled {
  width: 100%;
  height: 120px;
  background-color: #eee;
}

.expert_opinions a, .expert_opinions a:visited {
  color: $color-note;
  font-weight: bold;
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

