/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory . 
*/
$turquoise: #29abe2;
$violet: #473161;

body > header {
    height: 150px;
}

body > header.top_row_container {
    height: 0;
    z-index: -1;
    border: 0 none;
}

body > header.top_row_container > .container_24 {
}

body > header, body > header.top_row_container > .container_24 {
    border-width: 6px;
    -moz-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    -webkit-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

body > header > .top_row {
    height: 35px;
    margin-top: 15px;
}

body > header > .top_row > a {
    margin-top: 20px;
}

body > header > .bottom_row {
    height: 60px;
    margin-top: 40px;
}

body > header > .top_row, body > header > .bottom_row {
}

body > header > .top_row > a, body > header > .bottom_row > a {
}

.sans_serif {
  font-family: "Segoe WP", "Lucida Grande", "Lucida Sans", sans-serif;
}

#footer_container {
  width: 100%;
  background-color: #eff3f3;
  height: 45px;
  padding-top: 25px;
  border-top: 10px #e5ebeb solid;
  margin-top: 25px;
}

footer > a {
  color: $turquoise;
  text-transform: uppercase;
  font-family: "Segoe WP", "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.inputs > .input > input {
  width: 100%;
}

.input {
  margin-bottom: 1em;
}

.input > label, .input > input {
  display: block;
}

.input > input[type=email], .input > input[type=text], .input > input[type=password] {
  border: 2px #e6e6e6 solid;
  font-size: 1.6em;
}

.actions > input {
  float: right;
}

input[type=submit] {
  background-color: $violet;
  border: none;
  padding: 0.8em 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}