/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.all
 *= require_directory . 
*/
$turquoise: #29abe2;
$violet: #473161;

body > header {
  height: 150px;
}

body > header.top_row_container {
  height: 0;
  z-index: -1;
  border: 0 none;
}

body > header, body > header.top_row_container > .container_24, .ideas_header.container_24 {
  border-width: 6px;
  -moz-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -webkit-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -o-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

header .login_actions a, header .idea_actions a {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}
header > .login_actions > div {
  float: right;
  line-height: 25px;
  text-align: right;
}

body > header > .top_row {
  height: 35px;
  margin-top: 15px;
}

body > header > .top_row > a {
  margin-top: 20px;
}

body > header > .bottom_row {
  height: 60px;
  margin-top: 40px;
}

#footer_container {
  width: 100%;
  background-color: #eff3f3;
  height: 65px;
  padding-top: 25px;
  border-top: 10px #e5ebeb solid;
  margin-top: 25px;
}

footer > a {
  color: $turquoise;
}

footer > a:hover {
  text-decoration: underline;
}
footer > a:link {
  text-decoration: none;
}
footer > a:visited {
  text-decoration: none;
}


.inputs > .input > input {
  width: 100%;
}

.input {
  margin-bottom: 1em;
}

.input > label, .input > input {
  display: block;
}

.input.checkbox > label,
.input.checkbox > input,
.input.boolean > label,
.input.boolean > input {
  display: inline;
}

.input > input[type=email],
.input > input[type=text],
.input > input[type=password],
.input > input[type=url] {
  border: 2px #e6e6e6 solid;
}

.actions > input[type=submit] {
  float: right;
}

input[type=submit], a.button {
  border: none;
  padding: 0.8em 2em;
}

a.button {
  color: $violet;
  background-color: #fff;
}

.headline {
  background-color: $violet;
  margin-top: 0.2em;
  height: 180px;

  hgroup, .actions {
    margin: 60px 0 0;
  }
  
  hgroup {
    h1, h2 {
      color: #fff;
      margin: 0 0 0 20px;
      padding: 0;
    }
  }
  
  .actions > a.button {
    float: right;
    width: 120px;
    text-align: center;
    margin: 0 20px 20px 0;
    display: block;
  }
}

input[type=submit] {
  background-color: $violet;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.top_drafts h2 {
  margin-bottom: 0;
}

.top_drafts .popular {
  font-size: 15px;
}

top_proposals h2 {
  margin-bottom: 0;
}

.container_24 .top_proposals {
  margin-top: 10px;
}

.top_proposals .popular {
  font-size: 15px;
}

.top_proposals .proposal {
  font-size: 15px;
}

.top_proposals div.proposal > h3 {
  height: 120px;
}

.top_proposals div.proposal > h3 > a {
  color: #000;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: normal;
  text-decoration: none;
}

.top_drafts .omega > div.popular {
  border: none;
  padding-right: 0;
}

.top_drafts div.popular > h3 {
  height: 120px;
}

.top_drafts div.popular > h3 > a {
  color: #000;
}

.top_ideas, .news {
  margin-top:40px;
}

.top_ideas > a.list_ideas {
  margin-top: 10px;
  margin-right: 20px;
  float: right;
  color: $turquoise;
}

.ideas_header {
  height: 100px;
  position: relative;

  h1 {
    bottom: 0;
    position: absolute;
    margin: 0;

  }
}

.ideas > .idea {
  height: 180px;
  margin-top: 20px;
}

.ideas > .idea > .info, .ideas > .idea > .content {
  height: 160px;
  overflow: hidden;
}

.top_ideas > .idea {
  height: 180px;
}

.idea {
  h1 {
    margin-top: 20px;
  }

  .author > .name {
    color: $turquoise;
  }
}

.ideas, .top_ideas {
  .idea {
    border-width: 2px;
    -moz-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    -webkit-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    -o-border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    border-image:url("/assets/border-dotted-horizontal.png") 0 0 2 0 repeat;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;

    .info {
      .type, .date {
        color: #b3b3b3;
      }
      h3, h2 {
        a {
          color: #000;
        }
      }
    }

    .statistics {
      .total {
        color: #404040;
      }

      .for {
        color: #8CC63F;
      }

      .against {
        color: #A9003F;
      }

      .comments {
        min-width: 38px;
        min-height: 28px;
        padding-left: 20px;
        background-image:url('/assets/kommentit.png') no-repeat;
        background-position: -1 1.5em;
        a {
          color: $turquoise;
        }
        a:hover {
          text-decoration: underline;
        }
        a:link {
          text-decoration: none;
        }
        a:visited {
          text-decoration: none;
        }
      }
    }
  }
}

#new_comment textarea {
  width: 100%;
  height: 120px;
}

#new_comment textarea.disabled {
  width: 100%;
  height: 120px;
  background-color: #eee;
}

.instructions {
  .title {
    font-weight: bold;
    margin-top: 20px;
  }
}

.ideatitle {
    color: #473161;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 20px 0;
    border-bottom: 2px solid #473161;
}

.expert_opinions a, .expert_opinions a:visited {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}

.text {
  line-height: 22px;
}

.extra-info {
  margin-top: 20px
}

.btn-payment {
  width: 200px;
  margin: 10px 0;
  cursor: pointer;
}

.btn-service {
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe WP","Lucida Grande","Lucida Sans",sans-serif;
  background-color: #473161;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px 0;
  width: 240px;
  padding: 0.8em 2em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.checkbox, .radiobox {
  margin: 20px 0;
}

.radiobox label {
  margin-bottom: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.ideatitle {
  color: #473161;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  margin: 20px 0 5px;
  border-bottom: 2px solid #473161;
}

.text {
  line-height: 150%;
  margin-bottom: 5px;
  p {
    color: #473161;
    font-size: 22px;
  }
  ol {
    margin-top: 10px;
    > li {
      margin-top: 20px;
      ul > li {
        font-weight: normal;
        line-height: 22px;
      }
    }
  }
}


.sidebox {
  width: 20%;
  float: right;
  -moz-box-shadow: 0px 2px 2px #b5b5b5;
  -webkit-box-shadow: 0px 2px 2px #b5b5b5;
  box-shadow: 0px 2px 2px #b5b5b5;
  background-color: #eff3f4;
  padding: 10px;

  .text {
    line-height: 160%;
    margin-bottom: 10px;
  }
}

.btn-listall {
  color: white;
  font-size: 12px;
  background-color: #473161;
  padding: 0.5em 2em;
  font-weight: bold;
  text-decoration: none;
}

.returning .box {
  .other-initiatives {
    ul {
      display: inline-block;
      width: 100%;
      li {
        float: left;
        margin-left: 0;
        margin-right: 20px;
        width: 35%;
        list-style: none;
        -moz-box-shadow: 0px 2px 2px #b5b5b5;
        -webkit-box-shadow: 0px 2px 2px #b5b5b5;
        box-shadow: 0px 2px 2px #b5b5b5;
        background-color: #eff3f4;
        position: relative;
        top: 0;
        a {
          background-color: #473161;
          text-decoration: none;
          font-size: 10px;
          padding: 0 7px;
          display: block;
          min-height: 32px;
          padding: 5px 50px 5px 7px;
          color: white;
          font-weight: bold;
          z-index: 1;
        }
        p {
          margin: 5px 0;
          padding: 5px;
          font-size: 10px;
        }
        .vote-progress {
          right: 0;
          top: 0;
          position: absolute;
          z-index: 10;
          .yes, .no {
            font-size: 10px;
            font-weight: bold;
            color: white;
            padding: 3px 20px 3px 5px;
          }
          .yes {
            background: #8dc642 url('/assets/vote-yes.png') 30px 4px no-repeat;
          }
          .no {
            background: #a9003f url('/assets/vote-no.png') 30px 6px no-repeat;
          }
        }
      }
    }
  }
  .title {
    margin-bottom: 10px;
  }
}

.returning .box {
  max-width: 75%;
}

.text p.info {
  font-size: 12px;
  line-height: 20px;
}

.transaction {
  .amount {
    float: left;
    width: 65px;
    text-align: right;
    margin-right: 15px;
  }
  .description {
    float: left;
    width: 200px;
    margin-right: 15px;
  }
  .date {
    float: left;
    width: 225px;
    margin-right: 15px;
  }
  .break {
    clear: both;
  }
}

.se-dates {
  margin-top: -60px;
  height: 60px;
}

#flash-message{
  width: 450px;
  border: 2px solid #473161;
  padding-bottom: 0;
  background-color: #f0f0f0;
}

#sign-in-citizen {
  margin-left: -80%;
  position: relative;
}

#remember-me {
  float: left;
  width:20px;
}

#signed_in_links {
  float:left;
  margin-left: -120px;
  width: 420px;
}

.pull-left {
  float: left;
}

.forget-password {
  position: absolute;
  float: left;
  margin-left: 0.5%;
}

.idea-heading-link {
  color: #473161;
  text-decoration: none;
}

.idea-heading-link {
  color: #473161;
  text-decoration: none;
}
