//Css for the home page

$main-color: #473161;
$turquoise: #29abe2;

.container h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: $main-color; 
}

.top_drafts, .top_ideas {
  h2 {
    //Refactor border to application.css 
    -moz-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    -webkit-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    -o-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-width: 6px;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
    margin-bottom: 0;
  }
}


.top_drafts {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:  10px solid $main-color; 
}

.news, .newsletter {
  padding: 5px;
  background: #eeeeee;
  border-top: 3px solid #000000;
}

.author a{
  font-weight: bold;
  color: #29abe2;
  text-transform: uppercase;
}

.author a:hover {
  text-decoration: underline;
}
.author a:link {
  text-decoration: none;
}
.author a:visited {
  text-decoration: none;
}

.news-item .datetime {
  margin-left: 15px;
}

.news .content {
  margin-bottom: 15px;
} 

.news .content a {
  color: $main-color;
}
.news .content a:hover {
  text-decoration: underline;
}
.news .content a:link {
  text-decoration: none;
}
.news .content a:visited {
  text-decoration: none;
}


.all-blogs a {
  color: $turquoise;
  font-weight: bold;
  font-size: 14px;
}
.all-blogs a:hover {
  text-decoration: underline;
}
.all-blogs a:link {
  text-decoration: none;
}
.all-blogs a:visited {
  text-decoration: none;
}


input#mce-EMAIL {
  margin: 10px 0px;
}

//For home page slider
.proposal-section .carousel-previous {
  background: url("/assets//previous.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  margin-left: 3px;
  margin-top: 70px;
  z-index: 1000;
}

.proposal-section .carousel-control {
  overflow:hidden;
  display:inline-block;
  vertical-align:middle;
  width:30px;
  height:32px;
  cursor:pointer;
  line-height:999px;
  zoom:1;
  border:0;
  text-indent:-9999px;
}

.proposal-section .carousel-control:hover {
  -moz-opacity:.7;
  opacity:0.70;
  filter:alpha(opacity=70);
}

.proposal-section .carousel-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
  border-radius: 5px;
  height: 174px !important
}

:focus {
  outline: none;
}

.proposal-section .carousel-next {
  background: url("/assets//next.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  margin-left: -35px;
  margin-top: 71px;
}
