//Css for the home page

$main-color: #473161;

.container h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: $main-color; 
}

.top_drafts, .top_ideas {
  h2 {
    //Refactor border to application.css 
    -moz-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    -webkit-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-width: 6px;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
  }
}


.top_drafts {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:  10px solid $main-color; 
}

.news {
  background: #eeeeee;
}

.newsletter {
  background: #eeeeee;
}

.author a{
  font-weight: bold;
  color: #29abe2;
  text-transform: uppercase;
}

.author a:hover {
  text-decoration: underline;
}
.author a:link {
  text-decoration: none;
}
.author a:visited {
  text-decoration: none;
}

.idea .title a {
  font-size: 16px;
}
.title a:hover {
  text-decoration: underline;
}
.title a:link {
  text-decoration: none;
}
.title a:visited {
  text-decoration: none;
}

.vote .for {
  color: #8CC63F;
  font-weight: bold;
}

.vote .against {
  color: #A9003F;
  font-weight: bold;
}
