//Css for the home page

$main-color: #473161;

.container h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: $main-color; 
}

.top_drafts, .top_ideas {
  h2 {
    //Refactor border to application.css 
    -moz-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    -webkit-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
    border-width: 6px;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
  }
}


.top_drafts {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:  10px solid $main-color; 
}

.news, .newsletter {
  padding: 5px;
  background: #eeeeee;
  border-top: 3px solid #000000;
}

.author a{
  font-weight: bold;
  color: #29abe2;
  text-transform: uppercase;
}

.author a:hover {
  text-decoration: underline;
}
.author a:link {
  text-decoration: none;
}
.author a:visited {
  text-decoration: none;
}

.vote {
  padding-bottom: 25px;
}

.idea span.sans_serif {
  text-transform: uppercase;
  font-weight: bold;  
  color: #a0a0a0;
}
.idea span.time.sans_serif {
  text-transform: uppercase;
  font-weight: normal;  
  color: #a0a0a0;
}

.idea .title a {
  font-size: 16px;
}
.title a:hover {
  text-decoration: underline;
}
.title a:link {
  text-decoration: none;
}
.title a:visited {
  text-decoration: none;
}

.vote .total {
  color: #404040;
  text-transform: uppercase;
  font-weight: bold;
}
.vote .for {
  color: #8CC63F;
  font-weight: bold;
}

.vote .against {
  color: #A9003F;
  font-weight: bold;
}

.vote .comments {
  min-width: 38px;
  min-height: 28px;
  padding-left: 20px;
  background-image:url('/assets/kommentit.png') no-repeat;
  background-position: -1 1.5em;

}

input#mce-EMAIL {
  margin: 10px 0px;
}
