/* = STEPS CONTAINER
 ----------------------------*/
.wizard-steps {
    margin: 20px 10px 0px 10px;
    padding: 0 170px 0 155px;
    position: relative;
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    min-height: 60px;
}

.wizard-steps div {
    position: relative;
}

/* = STEP NUMBERS
 ----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 10px;
    text-align: center;
    width: 15px;
    margin: 2px 5px 0px 0px;
    line-height: 15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* = DEFAULT STEPS
 ----------------------------*/
.wizard-steps a {
    position: relative;
    display: block;
    height: 24px;
    margin-right: 18px;
    padding: 0px 10px 0px 3px;
    float: left;
    font-size: 11px;
    line-height: 24px;
    color: #666;
    background: #F0EEE3;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    padding: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 1.5em;
}

.wizard-steps a:before {
    width: 0px;
    height: 0px;
    border-top: 22px solid #f0eee3;
    border-bottom: 22px solid #f0eee3;
    border-left: 12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}

.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12px solid #f0eee3;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}

/* = COMPLETED STEPS
 ----------------------------*/
.wizard-steps .completed-step a {
    color: #163038;
    background: #A3C1C9;
}

.wizard-steps .completed-step a:before {
    border-top: 22px solid #A3C1C9;
    border-bottom: 22px solid #A3C1C9;
}

.wizard-steps .completed-step a:after {
    border-left: 12px solid #A3C1C9;
}

.wizard-steps .completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow: none;
}

/* = ACTIVE STEPS
 ----------------------------*/
.wizard-steps .active-step a {
    color: #A3C1C9;
    background: #163038;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.wizard-steps .active-step a:before {
    border-top: 22px solid #163038;
    border-bottom: 22px solid #163038;
}

.wizard-steps .active-step a:after {
    border-left: 12px solid #163038;
}

.wizard-steps .active-step span {
    color: #163038;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    text-shadow: none;
    border: 2px solid #A3C1C9;
}
