<p>Hei <%= @resource.email %>!</p>

<p>Joku pyysi Avoimen ministeriön sovellukselta lähettämään sähköpostilla linkin tunnuksesi salasanan vaihtoon. Voit vaihtaa sen klikkaamalla alla olevaa linkkiä.</p>

<p><%= link_to 'Vaihdan salanani', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jos et pyytänyt salasanaasi vaihdettavan, älä välitä tästä sähköpostista. </p>
<p>Salasanaasi ei vaihdeta, ellet klikkaa yllä olevaa linkkiä, ja vaihda sitä itse.</p>
