%h1 Edit State

= render 'form'

= link_to 'Show', admin_state_path(@state), class: 'btn btn-info'
= link_to 'All States', admin_states_path, class: 'btn btn-info'
= link_to 'Back', :back, class: 'btn btn-info'
