!!! 5
/[if lt IE 9] <html class="ie">
/[if gte IE 9] <html>
%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
  %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport" }/
  %title Avoin Ministeriö
  = stylesheet_link_tag "application.css"
  = javascript_include_tag "application"
  /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

%body
  %header.container_24.top_row_container
    .container_24.top_row &nbsp;
  %header.container_24
    %a#logo.grid_12{ href: "/" }
      = image_tag "logo.png"
    .grid_3.top_row
      %a{ href: "/register" } Rekisteröidy
    .grid_3.top_row
      %a{ href: "/login" } Kirjaudu
    .grid_6.top_row
      %a{ href: "https://facebook.com" } Login with Facebook
    .grid_6.bottom_row &nbsp;
    .grid_3.bottom_row
      %a{ href: "/foo" } Aloitteet
    .grid_3.bottom_row
      %a{ href: "/foo" } Tee aloite
  .container.container_24
    %section
      = yield
  %footer.container_24
    %a.grid_4{ src: "/foo" } Foo
    %a.grid_4{ src: "/bar" } Bar
    %a.grid_4{ src: "/baz" } Baz
    %a.grid_4{ src: "/foo" } Foo
    %a.grid_4{ src: "/bar" } Bar
    %a.grid_4{ src: "/baz" } Baz
